.k-treeview .k-i-collapse:before { background: url("/images/ico/ico_organ03_open.png");content: ""; }
.k-treeview .k-i-expand:before { background: url("/images/ico/ico_organ03_close.png");content: ""; }
.k-treeview .k-treeview-top.k-treeview-bot .k-i-collapse:before { background: url("/images/ico/ico_organ01.png"); }
.k-treeview .k-treeview-top.k-treeview-bot .k-i-expand:before { background: url("/images/ico/ico_organ01.png"); }
.k-treeview .k-i-collapse-disabled, .k-treeview .k-i-expand-disabled { cursor: default; }
.k-treeview .k-treeview-top, .k-treeview .k-treeview-mid, .k-treeview .k-treeview-bot { background-image: url('/images/bg/treeview-nodes.png'); background-repeat: no-repeat; margin-left: -16px; padding-left: 16px; }
.k-treeview .k-item { background-image: url('/images/bg/treeview-line.png'); }
.k-treeview .k-last { background-image: none; }
.k-treeview .k-treeview-top { background-position: -91px 2px; }
.k-treeview .k-treeview-bot { background-position: -69px -17px; }
.k-treeview .k-treeview-mid { background-position: -47px -42px; }
.k-treeview .k-group .k-last .k-treeview-bot { background-position: -69px -22px; }
.k-treeview .k-item { background-repeat: no-repeat; }
.k-treeview .k-treeview-top.k-treeview-bot { background: none;}
.k-treeview .k-first { background-repeat: no-repeat; background-position: 0 16px; }
.k-grid-toolbar{ justify-content: flex-end !important; }
.k-grid-norecords{ justify-content: space-around; }
#approvalLineDataTb tbody tr:hover:not(.active) { background-color: #ededed; }
.active { background-color: rgb(241, 248, 255); }
#deptTree { width: auto !important; font-size: 12px; line-height: 1.4; }