html{font-family: 'Noto Sans KR', sans-serif;}
body{font-family: 'Noto Sans KR', sans-serif;}

/*select 스타일 색상 변경*/
.k-button-solid-base{background-color: #E4EBF3!important;}
.k-list-item.k-selected{background-color: #1A5089!important;}
.k-list-item.k-hover, .k-list-item:hover{background-color: #E4EBF3!important;}
.signpanel{
    background-image: url(../images/login_img_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.signin{
    top: 59%;
    left: 67%;
    transform: none;
    background-color: transparent;
}

/*캘린더 스타일 색상 변경*/
.k-calendar>.k-header{background-color: #E4EBF3!important;}
.k-calendar .k-footer .k-nav-today{color: #1A5089!important;}
.k-calendar .k-calendar-td.k-selected .k-link, .k-calendar .k-calendar-td.k-state-selected .k-link{background-color: #1A5089!important; color: #fff!important;}
.k-calendar .k-calendar-td.k-selected.k-hover .k-link, .k-calendar .k-calendar-td.k-selected:hover .k-link, .k-calendar .k-calendar-td.k-state-selected.k-state-hover .k-link, .k-calendar .k-calendar-td.k-state-selected:hover .k-link{background-color: #1A5089;}
.k-calendar .k-today .k-link{color: #1A5089!important; box-shadow: inset 0 0 0 1px #1A5089!important;}

/*라디오 스타일 색상 변경*/
.k-radio:checked{color: #1A5089!important;}
.k-radio:checked:focus{box-shadow:0 0 4px 0 rgb(26 80 137 /75%);}
.k-radio:focus-within{box-shadow:0 0 4px 0 rgb(26 80 137 /75%);}

/*체크박스 스타일 색상 변경*/
.k-checkbox{color: #1A5089!important;}
.k-checkbox:checked{color: #1A5089!important;}
.k-checkbox:hover{color: #1A5089!important;}
.k-checkbox:checked:focus{box-shadow:0 0 4px 0 rgb(26 80 137 /75%);}
.k-checkbox:focus-within{border-color: #1A5089!important; box-shadow:0 0 4px 0 rgb(26 80 137 /75%);}

/*grid table 스타일 색상 변경*/
/*.k-grid .k-cell-inner>.k-link{background-color: #E4EBF3;}*/
.k-pager-wrap{border-color: #E4EBF3; background-color: #E4EBF3;}
.k-pager-wrap .k-link.k-state-selected{background-color: #1A5089;}
.k-button-solid-base.k-active, .k-button-solid-base.k-selected, .k-button-solid-base:active{border-color: #1A5089!important;}
.k-button-solid-base.k-focus, .k-button-solid-base:focus{border-color: #1A5089!important;}
.k-picker:focus-within, .k-widget.k-picker:focus-within{border-color: #1A5089!important; box-shadow:0 0 4px 0 rgb(26 80 137 /75%)!important;}
.k-drag-clue, .k-grid-header, .k-grouping-header, .k-header, .k-menu, .k-panelbar>.k-panelbar-header>.k-link, .k-progressbar, .k-state-highlight, .k-tabstrip, .k-tabstrip-items .k-item, .k-toolbar{background-color: #edf5ff!important;}
.k-button-solid-base.k-focus, .k-button-solid-base:focus{border-color: #1A5089!important; box-shadow:0 0 4px 0 rgb(26 80 137 /75%)!important;}
.k-filter-row th, .k-grid-header th.k-header{font-size:12px; text-align:center;}

/*드롭박스 스타일 색상 변경*/
.k-picker, .k-widget.k-picker{background-color: #fff!important;}

/*table 스타일 색상 변경*/
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
    border:1px solid rgba(0,0,0,.08);
}
.table-bordered{border-collapse:collapse; border-left: 1px solid rgba(0,0,0,.08);}
.tableThSt {background-color:#edf5ff; overflow: hidden; text-align:center; color:#313131;
    padding: 6px 8px!important; font-weight: 400; white-space: nowrap; text-overflow: ellipsis;}
.tableTdSt{text-align: center; background-color: #fff; color:#313131;padding: 6px 8px!important;}
.panel-title{font-size:16px;}





