/* left menu 추가 css */
.accordion .innerMain {
    padding-left: 1em;
    overflow: hidden;
    display: none;
}

.accordion li a {
    display: block;
    transition: background 0.3s ease;
    position: relative;
}

.accordion li a.toggleMain.toggled {
    color:#259dab !important;
}

.accordion li a.toggleMain:hover {
    color:#259dab;
}

.accordion li a.toggleMain1.toggled {
    color:#259dab !important;
}

.accordion li a.toggleMain1:hover {
    color:#259dab;
}

/*.menuHover{
    color: red !important;
}*/

.leftChange{
    color: #259dab !important;
}

.toggleMain::before {
    content: '\203A';
    font-size: 20px;
    position: absolute;
    top: 7px;
    right: 15px;
    margin-right: 15px;
    transition: .2s transform;
    will-change: transform;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

.toggleMain.toggled::before {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.notoggle li {
    position: relative;
}

.notoggle li a {
    padding-left: 3em;
}

.notoggle li a:hover {
    background: rgba(0, 0, 0, 0.9);
    border-radius: 0.15em;
    border-bottom: 1px solid #000000;
    text-decoration: underline;
    color: #fefefe;
}

.notoggle li a::before {
    content: '\2012';
    position: absolute;
    top: 9px;
    left: -15px;
    font-size: 17px;
    margin-left: 35px;
}

.notoggle li a:hover::before {
    content: '\203A';
    font-size: 17px;
    color: #fefefe;
}

/* right 없어졌다 나왔다 */
.headerMenu{background-color:#3b4354; border:1px solid #3b4354; width:60px; height:50px; border-radius:50px 0 0 50px; position:absolute; top:1px; right:0;}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    right: 10px;
    width: 320px;
    transform: translateX(1343px);
    transition: transform -250ms ease-in-out;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

.openSidebarMenu {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 19px;
    right: 22px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #505b72;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}


/* left menu 추가 css */
/*
.accordion .innerMain {
    padding-left: 1em;
    overflow: hidden;
    display: none;
}

.accordion li a {
    display: block;
    transition: background 0.3s ease;
    position: relative;
}
.accordion li a.toggleMain:hover {
    color:#259dab;
}

.toggleMain::before {
    content: '\203A';
    font-size: 20px;
    position: absolute;
    top: 7px;
    right: 15px;
    margin-right: 15px;
    transition: .2s transform;
    will-change: transform;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

.toggleMain.toggled::before {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.notoggle li {
    position: relative;
}

.notoggle li a {
    padding-left: 3em;
}

.notoggle li a:hover {
    background: rgba(0, 0, 0, 0.9);
    border-radius: 0.15em;
    border-bottom: 1px solid #000000;
    text-decoration: underline;
    color: #fefefe;
}

.notoggle li a::before {
    content: '\2012';
    position: absolute;
    top: 9px;
    left: -15px;
    font-size: 17px;
    margin-left: 35px;
}

.notoggle li a:hover::before {
    content: '\203A';
    font-size: 17px;
    color: #fefefe;
}*/
